---
import Header_about from "../components/heade_about.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title={"about"}>
    <Header_about/>
  <main class="mx-auto mt-[150px] max-w-2xl top-0  px-8 sm:px-8 lg:px-16 text-gray-700">
    <div class="flex flex-row items-center  justify-center mx-auto">
        <div class="w-[300vh] h-auto max-w-sm top-0 bg-white border border-gray-200 rounded-lg shadow  dark:bg-gray-800 dark:border-gray-700">
            <img src="https://avatars.githubusercontent.com/u/48761874?v=4" class="rounded-lg ">
        </div>
    </div>
     
    <div class="flex flex-col items-center mt-10 mb-12 gap-8">
        <h2 class="text-2xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
            <span class="text-transparent bg-clip-text bg-gradient-to-tr from-red-400 via-rose-600 to-red-600">Hi again</span>👋<span class="text-transparent bg-clip-text bg-gradient-to-tr from-red-400 via-rose-600 to-red-600">, I'm Daniel</span>
        </h2>
        <p class="break-words text-justify">
            I'm a passionate Multimedia Engineer based in Cajicá, Colombia. Intrigued by the fusion of technology and creativity to enhance lives. Currently, I'm working as a Junior UX/UI Designer at Publicis Groupe, crafting delightful user experiences for various digital platforms.
        </p>
        <p class="break-words text-justify">

            Previously, I honed my skills as a web developing at Fundación CREINSER, designing and managing websites for the foundation. I then delved into the world of multimedia education as a Creator of Educational Multimedia at Universidad Militar Nueva Granada, producing compelling content for academic purposes.
        </p>
        <p class="break-words text-justify">
            My journey has been one of continuous growth, and I'm eager to embrace new challenges and opportunities in this dynamic field. My goal is to contribute my expertise in Photoshop, Illustrator, Premier Pro, and Figma to create innovative and engaging multimedia solutions for users.
        </p>
        <p class="break-words text-justify">
            I thrive on pushing creative boundaries and making a positive impact through my work. I'm excited about what the future holds and the chance to bring my skills to your team. Let's collaborate and make magic happen together!
        </p>
    </div>
    
  </main>
</Layout>