---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Header from '../components/header.astro';
import Bento from '../components/Bento.astro';
---

<Layout title="Daniel Pinzón">
	<Header/>
	<main class="m-auto max-w-6xl">
		<Title/>
		<Bento>
	</main>
	
</Layout>
