---
import Layout from '../layouts/Layout.astro';
import ListProjects from '../components/ListProjects.astro';
import Title from '../components/Title.astro';
import Header_about from "../components/heade_about.astro";
import Bento from '../components/Bento.astro';
---

<Layout title="Daniel Pinzón - Projects">
    <Header_about/>
	<main class="m-auto max-w-6xl">
        <div class="max-w-3xl mx-auto px-8 sm:px-8 lg:px-16">
            <div class="flex flex-col items-center mt-32 mb-12">
                <h1 class="text-2xl font-extrabold  md:text-5xl lg:text-6xl mb-8 text-center">
                    <span class="text-transparent bg-clip-text bg-gradient-to-tr from-sky-400 via-purple-500 to-pink-600">Welcome to the projects section</span>
                </h1>
                <p class="my-0 text-lg font-normal bg-clip-text text-slate-800 lg:text-xl sm:px-16 xl:px-0 dark:text-gray-400 my-3">
                    <span class="font-semibold text-gray-900 underline dark:text-white decoration-indigo-500">These projects represent not only my technical prowess but also my dedication to aesthetics and functionality.</span> From sleek websites to intuitive interfaces, each project has been meticulously crafted to deliver a unique experience.
                </p>
                </div>
            </div>
        </div>        
        <div class="container">
            <ListProjects />
        </div>
	</main>
</Layout>