

<footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-8">
  <div class="w-full max-w-screen-xl mx-auto p-8 md:py-8">
    
      <span class="pb-5 block text-sm text-gray-500 text-center">© 2023 <a href="https://flowbite.com/">Daniel Pinzón</a>. All Rights Reserved.</span>
  </div>
</footer>

